* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

a:hover {
    color: #0275d8;
}

.mx-2 {
    margin: 0 1rem;
}

img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #333;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    align-items: center;
}

.card-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

button {
    border: none;
    background: #0275d8;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.random .container {
    width: 400px;
    margin: 5rem auto;
}

.random .container{
    display: grid;
    max-width: 1000px;
    padding: 40px;
    justify-content: center;
}

div.container > * {
    margin: .5rem auto;
}

i {
    color: red;
}

/* Fake store */
.fakeStore {
    margin: 5rem auto;
    color: #333;
}

.fakeStore .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    gap: 10px;
}

.fakeStore .card {
    max-width: 350px;
}

.fakeStore img {
    width: 100%;
    border-radius: 0;
    border: none;
    height: 300px;
    padding: 1rem 0;
}

.price, .Itemcategory {
    color: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background: #0275d8;
}

/* Footer */
footer {
    background: #28282B;
    padding: 1rem;
    text-align: center;
    color: #FFFFFF;
}
